<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Upload and Detection</title>
    <link href="{{ url_for('static', filename='style/common.css') }}" rel="stylesheet">
</head>
<body>
    <div class="upload-card">
        <h1>GROUPED DETECTION</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file" accept="image/*" required>
            <button type="submit">DETECT</button>
        </form>
    </div>
</body>
</html>
